* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(194, 111, 241, 0.925);
}

header {
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: #150329;
    color: rgba(194, 111, 241, 0.925);
}

header h1 {
    display:inline-block;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgba(194, 111, 241, 0.925);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 75px;
}

a {
    color: rgba(194, 111, 241, 0.925)
}

.links {
    font-style: #150329;
    list-style: none;
    justify-content: space-between;
}

.keys {
    height: 200px;
    width: 100%;
    margin-bottom: 0;
    background-image: url("./Images/keys.jpg");
    background-size: cover;
    background-position: center;
}

main {
    display:flex;
}

aside {
    flex: 5%;
    background: rgba(194, 111, 241, 0.925);
    height: 925px;
    padding: 5px;
    flex-wrap: wrap;
  }

.float-right {
    float: right;
    margin-left: 25px;
}

.section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.horiseon {
    padding: 20px;
}

.work {
    height: 100px;
    width: 90%;
    margin-bottom: 25px;
    background-image: url("./Images/Horiseon_ss.png");
    background-size: cover;
    background-position: center;
}

.about-me,
.work,
.contact {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(194, 111, 241, 0.925);
    color: #150329;
}

.about-me,
.work,
.contact {
    max-height: 200px;
}

.about-me,
.work,
.contact {
    margin-bottom: 20px;
    font-size: 25px;
}

footer {
    padding: 20px;
    text-align: center;
    background: #150329;
}