* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body {
    background-color: rgb(226, 161, 226);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #390674;
    color: rgb(226, 161, 226);
}

header h1 {
    display:inline-block;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 75px;
}

a {
    color: rgb(226, 161, 226);
}

.keys {
    height: 200px;
    width: 100%;
    margin-bottom: 0;
    background-image: url("../css/Images/purple_keys.jpg");
    background-size: cover;
    background-position: center;
}

.about-me,
.work,
.contact-me,
.resume {
    flex: 1 0 200px;
    padding: 10px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
}